.l-nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: -100vw;
}

.l-nav-toggle {
  display: block;
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  left: 3rem;
  top: 3rem;
  background-color: $COLOR_GREEN;
  cursor: pointer;
  z-index: 10;

  span {
    height: 2px;
    background-color: $COLOR_WHITE;
    margin-left: 8px;
    &:nth-child(1) {
      top: -14px;
      margin-right: 11px;
      width: calc(100% - 19px);
    }
    &:nth-child(2) {
      margin-right: 9px;
      width: calc(100% - 17px);
    }
    &:nth-child(3) {
      bottom: -14px;
      margin-right: 12px;
      width: calc(100% - 20px);
    }
  }
}

@include is-menuopen {
  .l-nav-toggle {
    span {
      &:nth-child(1),
      &:nth-child(3) {
        margin-right: 9px;
        width: calc(100% - 18px);
      }
      &:nth-child(2) {
        width: 0;
      }
      &:nth-child(1) {
        top: 0;
        transform: rotate(35deg);
      }
      &:nth-child(3) {
        bottom: 0;
        transform: rotate(-35deg);
      }
    }
  }
}
