.l-nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: -100vw;
}
.l-nav-toggle {
  display: block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: $COLOR_GREEN;
  cursor: pointer;
  z-index: 10;
}
