/*----------  Carousel  ----------*/
.t-home__carousel-item__number {
  font-size: 15rem;
}

.t-home__carousel-item__detail {
  padding-top: 1rem;
  width: 70%;
}

.t-home__carousel-item__image {
  background-size: 540px auto;
}