.t-home {
  left: -1.5rem;
  top: -1.5rem;
  height: calc(150vh - 2rem);
  position: relative;
  width: calc(100% + 3rem);
  padding-bottom: 1.1rem;
}
.t-home__header,
.t-home__carousel {
  position: relative;
  color: $COLOR_WHITE;
}

/*----------  Header  ----------*/

.t-home__header {
  height: 60%;
  background-color: $COLOR_BLACK;
  background: linear-gradient(45deg, $COLOR_BLACK 0%, $COLOR_GREY 100%);

}

.t-home__header-content {
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  top: -.5rem;
  position: relative;
}

.t-home__title {
  position: relative;
  font-family: $FONT_ROZHA;
  font-size: 1.6rem;
  line-height: 1.2em;
  padding-top: .25rem;
  padding-bottom: 1rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
  border-top: 1px solid $COLOR_WHITE;
  border-bottom: 1px solid $COLOR_WHITE;
  span {
    display: block
  }
}

.t-home__bottom {
  display: block;
}

/*----------  Carousel ----------*/

.t-home__carousel {
  height: 45%;
  background-color: $COLOR_LIGHT_GREY;
  background: linear-gradient(45deg, $COLOR_LIGHT_GREY 50%, $COLOR_WHITE 100%);

  &.is-bullets {
    .t-home__carousel-bullets {
      display: table;
    }
    .t-home__carousel-items {
      display: none;
    }
    .t-home__carousel-nav__bt--all {
      span {
        &:nth-child(1),
        &:nth-child(3) {
          margin-right: 9px;
          width: calc(100% - 18px);
        }
        &:nth-child(2) {
          width: 0;
        }
        &:nth-child(1) {
          top: 0;
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          bottom: 0;
          transform: rotate(-45deg);
        }
        &:after {
          width: 0;
        }
        &:before {
          width: 100%;
        }
      }
    }
  }
}

.t-home__carousel-content {
  width: calc(100% - 3rem);
  height: 100%;
  top: -3rem;
  background-color: $COLOR_WHITE;
}

.t-home__carousel-items {
  overflow: hidden;
  background-color: $COLOR_LIGHT;
}

.t-home__carousel-item {
  overflow: hidden;
  display: block;
  left: -200%;
  width: 100%;
  height: 100%;

  &.is-active {

    left: 0;
  }

  &.is-open {

    .t-home__carousel-item__detail {
      right: 0;
    }
  }
}


.t-home__carousel-item__number {
  font-family: $FONT_ANTON;
  font-size: 7rem;
  color: $COLOR_GREY;
  position: absolute;
  left: -0.1em;
  bottom: -0.2em;
  display: block;
  line-height: 1em;
  opacity: 0.4;
}

//.t-home__carousel-item__line-top,
.t-home__carousel-item__line-bottom {
  height: 1px;
  background-color: $COLOR_WHITE;
  margin-left: 2rem;
}

.t-home__carousel-item__line-top {
  top: 3rem;
}

.t-home__carousel-item__line-bottom {
  bottom: 3rem;
}

.t-home__carousel-item__line-top,
.t-home__carousel-item__line-bottom,
.t-home__carousel-item__desc-top,
.t-home__carousel-item__desc-bottom {
  margin-right: 2rem;
}

.t-home__carousel-item__desc-top,
.t-home__carousel-item__desc-bottom {
  text-align: right
}

.t-home__carousel-item__desc-top {
//  top: 1.5em;
  cursor: pointer;
  color: $COLOR_GREEN;

  top: 0;
  background: $COLOR_LIGHT;
  padding-right: 0;
  margin-right: 0;
  height: 3rem;
  padding-top: 1rem;
  padding-right: 2rem;
}

.t-home__carousel-item__desc-bottom {
  bottom: 1.5em;
  color: $COLOR_BLACK;
}

.t-home__carousel-item__desc-bottom--bullets {
  color: $COLOR_LIGHT_GREY;
}

.t-home__carousel-item__abstract,
.t-home__carousel-item__detail {
  overflow: hidden;
}

.t-home__carousel-item__detail {
  width: 100%;
  right: -100%;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: $COLOR_WHITE;
  box-shadow: 1.4rem 1.4rem 3.0rem 0.6rem rgba($COLOR_BLACK, 0.9);
  overflow-y: auto;
}

.t-home__carousel-item__detail-close {
  display: block;
  position: relative;
  color: $COLOR_GREEN;
  height: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  &:after,
  &:before {
    display: block;
    content: '';
    @include abs-center-right;
  }

  &:after {
    width: 2rem;
    height: 2px;
    background-color: currentColor;
  }
  &:before {
    width: 1rem;
    height: 1rem;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    transform: rotate(45deg);
  }
}


.t-home__carousel-nav {
  height: 3rem;
  width: 9rem;
  top: -3rem;
}

.t-home__carousel-nav__bt {
  position: relative;
  display: block;
  float: left;
  width: 33.33%;
  height: 100%;
  background-color: $COLOR_GREEN;
  color: $COLOR_WHITE;
  cursor: pointer;
}

.t-home__carousel-nav__bt--arrow {
  span:nth-child(1) {
    width: 1.5rem;
    height: 2px;
    background-color: currentColor;
  }
  span:nth-child(2) {
    width: 1rem;
    height: 1rem;
    border-color: currentColor;
    border-left: 2px solid;
    border-top: 2px solid;
    transform: rotate(-45deg);
    left: -2px;
  }
}

.t-home__carousel-nav__bt--arrow-next {
  transform: rotate(180deg);
}

.t-home__carousel-nav__bt--all {
  span {
    width: 1.5rem;
    height: 2px;
    &:nth-child(1) {
      top: -18px;
    }
    &:nth-child(3) {
      bottom: -18px;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      height: 100%;
      background-color: $COLOR_WHITE;
    }
    &:before {
      width: 4px;
      float: left;
    }
    &:after {
      width: calc(100% - 8px);
      float: right;
    }
  }
}

.t-home__carousel-bullets {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  background-color: $COLOR_BLACK;
  display: none;
}

.t-home__carousel-bullets__item {
  height: 2.5rem;
  line-height: 2.5rem;
  cursor: pointer;
  color: $COLOR_LIGHT_GREY;
  background-color: rgba($COLOR_LIGHT_GREY, 0);
  span {
    display: inline-block;
    &:first-child {
      padding-left: 2rem;
      padding-right: 1rem;
    }
    &:last-child {
      padding-right: 2rem;
    }
  }
  &.is-active {
    color: $COLOR_WHITE;
    background-color: rgba($COLOR_LIGHT_GREY, 0.1);
  }
}

@include is-desktop {
  .t-home__carousel-bullets__item:hover {
    @extend .t-home__carousel-bullets__item.is-active;
  }
}