doctype html
html( lang='en' )

  head
    include head/_head

  body
    include svgs/_svgs

    //- include _nav

    main.l-container(id='js-l-container')
      block body

    //- include _loader

    include scripts/_scripts