.t-404__header {
  height: 5rem;
  width: 15rem;
  top: 8rem;
}

.t-404__title {
  font-family: $FONT_ROZHA;
  font-size: 6rem;
  line-height: 1em;
  height: 12rem;
  padding-bottom: 0.2em;
  opacity: .3;
  position: absolute;
  width: 19rem;
  left: -3.1rem;
  top: -11rem;
}

.t-404__desc {
  height: 3rem;
}