.s-master {
  color: $COLOR_BLACK;
  line-height: 1.4rem;
  text-align: right;
  h1, h2, h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  h4, h5, p, ul, ol {
    padding-bottom: 2rem;
  }
  
  a {
    text-decoration: underline;
    @extend .h-anchor;
  }
  li {
    opacity: 0.8;
    &:after {
      content: ' -'
    }
  }

  pre {
    background-color: $COLOR_LIGHT;
    padding: 1rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  strong, b {
    font-weight: bold
  }
}