
.l-container {
  position: relative;
  overflow: hidden;
  height: calc(150vh - 2rem);
  min-height: calc(480px + 15rem);
  margin: 1rem;
  padding: 1rem;
  transform-origin: right;
  background-color: $COLOR_WHITE;
  box-shadow: 1.4rem 1.4rem 3.0rem 0.6rem rgba($COLOR_BLACK, 0.25);
  transform-style: preserve-3d;
}

.l-container__handler {
  position: relative;
  top: -1.5rem;
  left: -1.5rem;
  width: calc(100% + 3rem);
  height: calc(100% + 3rem);
}

@include is-menuopen {
  .l-container {

    transform: rotateY(-60deg);
  }
}